@using DepremsizHayat.DTO.Admin;
@using DepremsizHayat.DTO;
@model PaginationModel<ExpertWaitingAnalyseRequest>
@{
    ViewBag.Title = "Onay Bekleyen Talepler";
    Layout = "~/Views/Panel/Shared/Layout_.cshtml";
}
<script src="~/Content/js/pagination.js"></script>
<section class="content mt-2">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Talep Listesi</h3>
                </div>
                <div class="card-body">
                    <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                            <div class="col-sm-12">
                                <div style="overflow-x:scroll;overflow-y:hidden">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Talebi Gönderen</th>
                                                <th>Talep Tarihi</th>
                                                <th>Talep Detayı</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.DataList.Count > 0)
                                            {
                                                {
                                                    int i = 0;
                                                    foreach (ExpertWaitingAnalyseRequest waitingRequest in Model.DataList)
                                                    {
                                                        <tr>
                                                            @using (Html.BeginForm("ProcessTheRequest", "Panel", FormMethod.Post, new { id = "processForm_" + i }))
                                                            {
                                                                <td><input type="hidden" name="type" id="type_@i">@waitingRequest.REQUESTER_USER.FIRST_NAME @waitingRequest.REQUESTER_USER.LAST_NAME</td>
                                                                <td>@Html.Hidden("requestId", waitingRequest.USER_ANALYSE_REQUEST_ID, new { id = i })@waitingRequest.ANALYSE_REQUEST.CREATED_DATE</td>
                                                                <td>@waitingRequest.ANALYSE_REQUEST.USER_NOTE</td>
                                                                <td>
                                                                    <div class="btn-group">
                                                                        <button type="button" data-form-id="@i" class="btn btn-success accept btn-sm"><i class="fas fa-check"></i></button>
                                                                        <button type="button" data-form-id="@i" class="btn btn-danger deny btn-sm"><i class="fas fa-times"></i></button>    
                                                                    </div>
                                                                </td>
                                                            }
                                                        </tr>
                                                        i++;
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="4" style="text-align:center">Bir kayıt bulunamadı.</td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center" id="pagination" data-content-count="@Model.DataCount" data-content-perpage="@Model.DataPerPage"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    Array.from(document.querySelectorAll(".accept")).forEach(item => {
        item.addEventListener("click", function () {
            var id = item.dataset.formId
            document.querySelector(`#type_${id}`).value = "@DepremsizHayat.Resources.AnalyseRequestStatusCodes.Accepted".toUpperCase()
            document.querySelector(`#processForm_${id}`).submit()
        })
    })
    Array.from(document.querySelectorAll(".deny")).forEach(item => {
        item.addEventListener("click", function () {
            var id = item.dataset.formId
            document.querySelector(`#type_${id}`).value = "@DepremsizHayat.Resources.AnalyseRequestStatusCodes.Denied".toUpperCase()
            document.querySelector(`#processForm_${id}`).submit()
        })
    })
</script>