@using DepremsizHayat.DTO.Admin;
@using DepremsizHayat.DTO;
@model PaginationModel<ExpertAnsweredRequest>
@{
    ViewBag.Title = "Yanıtladığım Talepler";
    Layout = "~/Views/Panel/Shared/Layout_.cshtml";
}
<script src="~/Content/js/pagination.js"></script>
<section class="content mt-2">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Talep Listesi</h3>
                </div>
                <div class="card-body">
                    <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                            <div class="col-sm-12">
                                <div style="overflow-x:scroll;overflow-y:hidden">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Ad Soyad</th>
                                                <th>Adres</th>
                                                <th>Bina</th>
                                                <th>Durum</th>
                                                <th>Detay</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.DataList.Count > 0)
                                            {
                                                foreach (ExpertAnsweredRequest analyse in Model.DataList)
                                                {
                                                    <tr >
                                                        <td>@analyse.REQUESTER_USER.FIRST_NAME @analyse.REQUESTER_USER.LAST_NAME</td>
                                                        <td>@analyse.ANALYSE_REQUEST.COUNTRY @analyse.ANALYSE_REQUEST.DISTRICT</td>
                                                        <td>@analyse.ANALYSE_REQUEST.NUMBER_OF_FLOORS @analyse.ANALYSE_REQUEST.YEAR_OF_CONSTRUCTION</td>
                                                        <td>@analyse.STATUS.NAME</td>
                                                        <td><button class="btn btn-block btn-info btn-sm" onclick="showDetail('@analyse.ANALYSE_REQUEST_ID')">Detay</button></td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="5" style="text-align:center">Bir kayıt bulunamadı.</td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center" id="pagination" data-content-count="@Model.DataCount" data-content-perpage="@Model.DataPerPage"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.ReplyResponse != null && ViewBag.ReplyResponse.Message.Count > 0)
    {
        for (int i = 0; i < ViewBag.ReplyResponse.Message.Count; i++)
        {
            <b>@ViewBag.ReplyResponse.Message[i]</b>
        }
    }
</section>
@Html.Partial("Shared/_StatusPartial")
<script>
    pagination("pagination", "/Panel/ExpertAnsweredRequests")
</script>



