@using DepremsizHayat.DTO.Admin;
@using DepremsizHayat.DTO;
@using DepremsizHayat.DataAccess;
@model PaginationModel<RoleRequest>
@{
    ViewBag.Title = "Kullanıcı Yetkilendirme";
    Layout = "~/Views/Panel/Shared/Layout_.cshtml";
}
<script src="~/Content/js/pagination.js"></script>
<section class="content mt-2">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Kullanıcı Listesi</h3>
                </div>
                <div class="card-body">
                    <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                            <div class="col-sm-12">
                                 <div style="overflow-x:scroll;overflow-y:hidden" >
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Mevcut Rol</th>
                                                <th>Ad</th>
                                                <th>Soyad</th>
                                                <th>E-Posta</th>
                                                <th>Kullanılabilir Roller</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (RoleRequest user in Model.DataList)
                                            {
                                                <tr>
                                                    <td>@user.CURRENTROLE.NAME</td>
                                                    <td>@user.FIRST_NAME</td>
                                                    <td>@user.LAST_NAME</td>
                                                    <td>@user.E_MAIL</td>
                                                    <td>
                                                        <form method="POST" action="EditRoles">
                                                            <div class="d-flex">
                                                                @Html.Hidden("USER_ACCOUNT_ID", user.USER_ACCOUNT_ID)
                                                                <select class="roles form-control" name="ROLE_ID">
                                                                    @foreach (ROLE role in user.AVAILABLEROLES)
                                                                    {
                                                                        <option value="@role.ROLE_ID">
                                                                            @role.NAME
                                                                        </option>
                                                                    }
                                                                </select>
                                                                <button class="btn btn-secondary ml-2"><i class="fas fa-check"></i></button>
                                                            </div>
                                                        </form>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center"  id="pagination" data-content-count="@Model.DataCount" data-content-perpage="@Model.DataPerPage"></div>
                    </div>
                    @Html.Partial("Shared/_StatusPartial")
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    pagination("pagination", "/Panel/ListUserRoles")
</script>